@import './styles/blaze-theme/blaze-colors.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;

  .logo-blaze {
    width: 32vw;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: drop-shadow(0 0 1em lighten($retailAlt, 36%));
      transform: scale(1.1);
    }
  }
}